@tailwind base;
@tailwind components;
@tailwind utilities;

/* All Pages */

/* * {
  outline: 3px solid limegreen;
} */

body {
  background-color: #0A1931;
  font-family: 'Raleway', sans-serif;
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.main-container {
  margin: auto 140px;
}

h1, h2, p {
  text-shadow: 1px 1px 8px rgba(71, 70, 70, 0.200);
}

h2 {
  color: #F3C623;
  font-weight: 500;
}

#name {
  margin: 0;
  font-weight: 700;
  text-align: right;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  background-color: #0a1931bc;
  backdrop-filter: blur(2px);
}

#navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 70px;
  align-items: center;
  margin-bottom: 0;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-ul li {
  /* width: ; */
  text-align: center;
}

.my-info {
  display: flex;
  align-items: center;
}

.lucas-icon {
  max-width: 50px;
}

/* Welcome Page */

.welcome-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 0fr 1fr;
  margin-bottom: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 300;
  justify-content: center;
}

.welcome {
  margin: 0;
}

#job {
  text-align: left;
  margin-bottom: 60px;
  color: #F3C623;
  font-weight: 500;
}

#info {
  text-align: left;
  font-weight: 300;
}

#hey {
  text-align: right;
}

/* About Page */

.about-container {
  display: grid;
  grid-template-columns: 1fr 0fr 3fr 2fr;
  align-items: center;
  margin-bottom: 200px;
}

.about {
  font-size: 64px;
  color: #EFEFEF;
}

#about-info {
  max-width: 550px;
}

#skills-info {
  padding-left: 150px;
  padding-bottom: 150px;
  text-align: start;
}

.skills {
  text-align: left;
  color: #F3C623;
  font-weight: 500;
  margin-bottom: 100px;
}

/* Projects Page */

.projects {
  display: flex;
  flex-direction: column;
}

.project-showcase {
  display: grid;
  grid-template-columns: 2fr 0fr 3fr;
  align-items: center;
  margin-bottom: 30px;
  /* height: 100vh; */
}

.title-info {
  text-align: left;
}

#projects-title {
  font-size: 64px;
  margin: 0;
}

.project-button {
  background-color: #F3C623;
  color: #0A1931;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.382);
  cursor: pointer;
}

.project-button:hover {
  transform: scale(1.1);
  background-color: #185ADB;
}

/* Project1,2,3 */

.project1 {
  display: grid;
  grid-template-columns: 2fr 0fr 4fr;
  align-items: center;
  /* height: 100vh; */
}

.project2 {
  display: grid;
  grid-template-columns: 4fr 0fr 2fr;
  align-items: center;
  /* height: 100vh; */
}

.project-img {
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.language {
  display: flex;
}

/* Contacts Page */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* height: 80vh; */
}

.contact-info {
  border-top: 2px solid #F3C623;
  border-radius: 1px;
  padding: 20px;
  width: 400px;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: #EFEFEF;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #F3C623;
}

.footer-links a {
  color: #F3C623;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #185ADB;
}

.footer-copyright > a {
  text-decoration: none;
  margin-left: 5px;
}

.social-icon {
  margin-right: 20px;
  cursor: pointer;
}

/* Used in multiple pages */

.div-border {
  border: 1px solid #F3C623;
  height: 700px;
  border-radius: 5px;
  margin-inline: 60px;
}

/* Carousel */

.carousel {
  overflow: hidden;
  border-radius: 10px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
  border: none;
  background-color: transparent;
}

.chevron {
  color: #EFEFEF;
  font-size: 30px;
  cursor: pointer;
}

.chevron:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {

  .main-container {
    margin: auto 20px;
  }

  .nav-items {
    display: none;
  }

  .welcome-container,
  .about-container {
    grid-template-columns: 1fr;
  }

  .div-border {
    height: 0px;
    width: 100%;
    margin-inline: 0px;
    justify-content: center;
  }

  #job,
  #info,
  #name,
  #hey {
    text-align: center;
  }
}
