/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

/* All Pages */

body {
  background-color: #0A1931;
  font-family: 'Raleway', sans-serif;
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  margin: auto 140px;

}

h1, h2, p {
  text-shadow: 1px 1px 8px rgba(71, 70, 70, 0.207);
}

h2 {
  color: #F3C623;
  font-weight: 500;
}

#name {
  margin: 0;
  font-size: 140px;
  font-weight: 700;
  text-align: right;
}

/* Welcome Page */

.welcome-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 88vh;
  grid-template-columns: 1fr 0fr 1fr;
  margin-bottom: 30px;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 300;
  justify-content: center;
}

.profile-name {
  padding-bottom: 120px;
}

.welcome {
  margin: 0;
}

#job {
  text-align: left;
  margin-bottom: 60px;
  color: #F3C623;
  font-weight: 500;
}

#info {
  text-align: left;
  font-size: 32px;
  font-weight: 300;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  background-color: #0a1931bc;
  backdrop-filter: blur(2px);
}

#navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 70px;
  align-items: center;
  margin-bottom: 0;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-ul li {
  width: 200px;
  text-align: center;
}

.my-info {
  display: flex;
  align-items: center;
}

.lucas-icon {
  width: 50px;
}

/* About Page */

.about-container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 30px;
}

.about {
  font-size: 64px;
  color: #EFEFEF;
}

#about-info {
  max-width: 550px;
}

#skills-info {
  padding-left: 150px;
  padding-bottom: 150px;
  text-align: start;
}

.skills {
  text-align: left;
  color: #F3C623;
  font-weight: 500;
  margin-bottom: 100px;
}

/* Projects Page */

.project {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 100vh;
}

.title-info {
  text-align: left;
}

#projects-title {
  font-size: 64px;
  margin-top: 0;
}

#projects-info{
  width: 480px;
}

.project-button {
  background-color: #F3C623;
  color: #0A1931;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.382);
  cursor: pointer;
}

.project-button:hover {
  transform: scale(1.1);
  background-color: #185ADB;
}

/* Project1,2,3 */

.project1 {
  display: flex;
  align-items: center;
  height: 100vh;
}

.project-info {
  width: 450px;
}

.project-img {
  /* border: 1px solid #EFEFEF; */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 750px;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #EFEFEF;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #F3C623;
}

.footer-links a {
  color: #F3C623;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #185ADB;
}

.footer-copyright > a {
  text-decoration: none;
  margin-left: 5px;
}

.social-icon {
  margin-right: 20px;
  cursor: pointer;
}

/* Used in multiple pages */

.div-border {
  border-right: 2px solid #F3C623;
  height: 700px;
  border-radius: 5px;
  width: 0;
  margin: 0 60px;
}

/* Carousel */

.carousel {
  overflow: hidden;
  width: 1000px;
  height: 465px;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  height: 500px;
}

.indicators {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 750px;
}

.indicators > button {
  margin: 5px;
  border: none;
  background-color: transparent;
}

.chevron {
  color: #EFEFEF;
  font-size: 30px;
  cursor: pointer;
}

.chevron:hover {
  transform: scale(1.1);
}
