/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A1931;
  font-family: 'Raleway', sans-serif;
  color: #EFEFEF;
  font-size: 24px;
  font-weight: 300;
}

h1, p {
  text-shadow: 1px 1px 8px rgba(71, 70, 70, 0.207);
}

#info {
  text-align: left;
  font-size: 32px;
  /* margin-bottom: 100px; */
  font-weight: 300;
}

#job {
  font-size: 40px;
  text-align: left;
  margin-bottom: 60px;
  color: #F3C623;
  font-weight: 500;
}

#about-info {
  max-width: 450px;
}

.profile-name {
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 300;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 140px;
  font-weight: 700;
  text-align: right;
}

.container {
  margin: auto 140px;
}

.welcome {
  margin: 0;
}

.welcome-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 88vh;
  grid-template-columns: 1fr 0fr 1fr;
  margin-bottom: 30px;
}

.footer {
  /* background: #F4F4F4; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #F3C623;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #F3C623;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.div-border {
  border-right: 2px solid #F3C623;
  height: 700px;
  border-radius: 5px;
  width: 0;
  margin: 0 60px;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #0a1931bc;
  backdrop-filter: blur(2px);
}

#navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 50px;
  align-items: center;
}

#navbar-ul li {
  /* padding: 0 60px 0 60px; */
  width: 200px;
  text-align: center;
}

#skills-info {
  width: 100%;
  padding-left: 150px;
  padding-bottom: 10px;
}

.skills {
  text-align: left;
  font-size: 40px;
  color: #F3C623;
  font-weight: 500;
  margin-bottom: 100px;
}

.about {
  font-size: 64px;
  color: #EFEFEF;
}

/* .hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
} */
